body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(146, 141, 156);
  }
  
  .ccurrent-time {
    margin: 4vw;
  }
  
  .time-container {
    width: 30vw;
    height: 25vw;
    background-color: rgb(146, 141, 156);
    border: 2px solid #000;
    border-radius: 5vw;
    margin: 20px;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 4vw;
  }
  
  #current-time {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Set-Alarm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2PX;
  }
  
  #alarmTime {
    display: flex;
    margin: 1vw 1vw;
  }
  
  .setAlarm {
    margin: 0 3vw
  }
  
  #hours {
    size: 10px;
  }
  
  .hrWidth {
    background-color: blue;
    border: 1px solid;
  }
